<div class="copyright-info">
    {{t "Copyright"}} &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{t "covid19mex.net"}}</a> - {{t "Todos los derechos reservados."}} {{{t "Realizado con {ghostLink}" ghostLink="<a href=\"https://ghost.org/\">Ghost</a>"}}} {{{t "Por {gtechLink}" gtechLink="<a href=\"https://www.g-tech.io/\" target=\"_blank/\">G-Tech</a>"}}}
</div>
