<div class="widget">
    <h4 class="widget-title">{{t "Subscribe"}}</h4>
    <div class="content subscribe-widget">
        {{#if @member}}
        <p>{{t "Usted ya se ha suscrito a"}} {{@site.title}}</p>
        {{else}}
        <p>{{t "Recibe todas las últimas publicaciones directamente en tu bandeja de entrada."}}</p>
        <form class="members-form" data-members-form="signin">
            <div class="input-group pb-3">
                <input data-members-email type="email" class="form-control" placeholder="{{t "Correo Electrónico"}}" required/>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit"><span class="loading-spinner"></span>{{t "Subscribirse"}}</button>
                </div>
            </div>
            <div class="messages-wrap text-center">
                <div class="message-success">
                    <strong>{{t "Great!"}}</strong> {{t "Compruebe su bandeja de entrada y haga clic en el enlace para la suscripción completa"}}
                </div>
                <div class="message-error">
                    <strong>{{t "Error!"}}</strong> {{t "Por favor, introduzca una dirección de correo electrónico válida!"}}
                </div>
            </div>
        </form>
        {{/if}}
    </div>
</div>
