<!DOCTYPE html>
<html lang="{{@site.lang}}">
	<head>
		{{! Document Settings }}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		{{! Page Meta }}
		<title>{{meta_title}}</title>
		{{! Styles'n'Scripts }}
		<style id="bundle-css">
            {{> bundle-css}}
        </style>
		{{! Ghost outputs important style and meta data with this tag }}
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
	
		
		{{! insert header partial}}
		{{> header}}
		
	
	
		{{{body}}}
		
		
	
	
		{{! insert footer partial}}
		{{> footer}}
		{{#if @labs.members}}
		{{> members/notifications}}
		{{/if}}
		{{! scripts}}
		<script>var searchApi = "{{@site.url}}/ghost/api/v3/content/posts/?key={{>api_key}}&limit=all&fields=id,title,excerpt,custom_excerpt,url,published_at&formats=plaintext";</script>
		<script src="{{asset "js/app.bundle.min.js"}}"></script>
		<script src="{{asset "js/modal.js"}}"></script>


		<script data-ad-client="ca-pub-2231308649661778" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165950346-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165950346-1');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '382626932675173');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=382626932675173&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

        {{ghost_foot}}
	</body>
	
</html>
