{{#get "posts" limit="5" filter="tag:estadisticas"}}
<div class="col-lg-12">
    <div class="column-post-section post-group">
        <div class="post-group-title">
            <span>Estadísticas sobre Covid-19</span>
        </div>
        {{#foreach posts visibility="all"}}
        {{#if @first}}
        <div class="large-post">
            <a href="{{url}}">
                <div class="featured-image-wrap">
                    <div class="featured-image{{^if feature_image}} no-image{{/if}}"{{#if feature_image}} style="background-image:url({{feature_image}});">{{/if}}</div>
                    <div class="overlay">
                        <h2 class="title h4">{{title}}</h2>
                        <time class="date" datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="DD MMMM, YYYY"}}">{{date format="MMMM DD, YYYY"}}</time>
                    </div>
                </div>
            </a>
        </div>
        {{else}}
        <div class="large-post">
            {{#if feature_image}}
            <a href="{{url}}">
                <div class="featured-image-wrap">
                    <div class="featured-image" style="background-image:url({{feature_image}});"></div>
                </div>
                <div class="content-wrap{{^if feature_image}} no-image{{/if}}">
                <h2 class="title h5"><a href="{{url}}">{{title}}</a></h2>
                <time class="date" datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="DD MMMM, YYYY"}}">{{date format="MMMM DD, YYYY"}}</time>
            </div>
            </a>
            {{/if}}
            
        </div>
        {{/if}}
        {{/foreach}}
    </div>
</div>
{{/get}}
